:root{
    --primaryColor:#0D0D0D;
    --orangeColor:#F65F5F;
    --secondaryColor:#FDCE77;
}

body{
    display: grid;
    grid-template-columns:repeat(6 1fr);
    grid-template-rows:repeat(22 1fr);
    box-sizing: border-box;
    font-size:16px;
}

/*-----------header Styles------*/
header{
    grid-row:1/2;
    grid-column:1/7;
    background: var(--primaryColor);
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    align-items: center;
}
#logoImg{
    width:100px;
    height:100px;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFF;
font-family: Montserrat;
font-size: 3em;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left:4%;
}
.menu-bar{
    margin-right:5%;
    display: flex;justify-content: space-between;
}
.menu-btn1{
    border: none;
    color: #FFF;
    background-color: black;
text-align: center;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-right:4%;
width: 200px;
height: 50px;
transition: background-color .5s, border-radius 0.5s;
transition-timing-function: ease-out;

}
.menu-btn2{
    border: none;
    color: #FFF;
    background-color: black;
text-align: center;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left:4%;
padding:2px;
width: 200px;
height: 50px;
transition: background-color .5s, border-radius 0.5s;
transition-timing-function: ease-out;

}
.btn:hover{
    cursor: pointer;
    border-radius:9px;
    background-color:var(--orangeColor);
}

/*---------------Main-Banner-section------------*/
main{
    grid-column:1/7;
    grid-row:2/7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: var(--primaryColor);
}
.right-Main-Banner{
    display: flex;
    background:url("assets/Burger.png");
    width: 740px;
    height: 720px;
    background-position: center;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
}
.left-Main-Banner{
    display: flex;
    margin-left: 26px;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    color: var(--orangeColor);
}
.white-span{
    color:white;
}
.yellow-span{
    color:var(--secondaryColor);
}
.main-description{
    color: #FFF;
font-family: Roboto;
font-size: 1em;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.banner-heading{
    font-size: 43px;
}
.input-container{
    display: flex;
    justify-content: space-between;
    margin-top: 9%;
}
input[type="text"]{
    width:70%;
    padding:10px;
    background-color: var(--primaryColor);
    border-radius:9px;
    color: white;
    font-size:1em;
    border: 1px solid var(--secondaryColor);
}
#searchBtn{
    background-color: var(--orangeColor);
    border-radius:9px;
    font-size: 1em;
    padding:10px 20px;
    border: none;
    color: white;
    transition: background-color 0.5s, color 0.5s;
}
#searchBtn:hover{ 
    background-color:white;
    color: var(--orangeColor);
    border:1px solid #F65F5F;
}
.total-items{
    color:white;
}
.item-count{
    color: var(--orangeColor);
}
/*------------Featured Section----------------*/
.featured {
    grid-row: 7/13;
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primaryColor); 
    color: var(--orangeColor);
    padding-bottom:8%;
}

.featured-heading{
    font-size:50px;
    font-family: Montserrat;
    font-weight: 700;
}

.featured>.lower-featured {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}

.featured-description {
    width: 50%;
    height: auto;
    background-color: var(--primaryColor);
    margin-right: 10%;
    position: relative;
}
.featured-img {
    background: url("assets/featured.png");
    width:450px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: contain;
    
}
.category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dropdowns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:4%;
}
#ingredients{
width: 48%;
height:10%;
flex-shrink: 0;
color: white;
background-color:var(--primaryColor);
font-size: 1.2em;
padding:10px 0px;
border: 1px solid var(--secondaryColor);
text-align: left;
border-radius: 9px;
}
h1{
    font-size:36px;
}
.reference{
    position: absolute;
    display: flex;
width: 40%;
justify-content: center;
align-items: center;
flex-shrink: 0;
background-color: var(--primaryColor);
color:white;
border:none;
top: 125%;
left:31%;
}
select>option{
    background-color: var(--primaryColor);
    border: none;
    outline: none;
}
select>option:hover{
    background-color: var(--primaryColor);
    color: var(--orangeColor);
}
select{
    border: none;
    outline: none;
}
/*------------All Items Section----------------*/

.all-items{
    grid-row:13/19;
    grid-column: 1/7;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primaryColor);
    
}
.item{
    max-width:22%;
    margin-top: 1%;
    height:47%;
    margin-left:2%;
    text-align: center;
    border-radius: 20px;
    color: var(--orangeColor);
    transition:background-color 0.5s, border 1s;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) -31.53%, rgba(253, 206, 119, 0.13) 303.75%);
}
.item-img{
    width:290px;
    height:290px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img1{
    background: url("assets/Food1.png");
    background-size: contain;
    background-position: center;
}
.img2{
    background: url("assets/Food4.png");
    background-size: contain;
    background-position: center;
}
.img3{
    background: url("assets/Food2.png");
    background-size: contain;
    background-position: center;
}
.img4{
    background: url("assets/Food3.png");
    background-size: contain;
    background-position: center;
}
.img5{
    background: url("assets/Food4.png");
    background-size: contain;
    background-position: center;
}
.img6{
    background: url("assets/Food1.png");
    background-size: contain;
    background-position: center;
}
.img7{
    background: url("assets/Food3.png");
    background-size: contain;
    background-position: center;
}

.item:hover{
    background-color: black;
    border: 1px solid var(--secondaryColor);

}
footer{
    grid-row: 19/23;
    grid-column: 1/7;
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-heading{
    color: var(--orangeColor);

}
a{
    text-decoration: none;
    color: var(--secondaryColor);
}
/* For screens smaller than 768px (e.g., smartphones) */
@media (max-width: 768px) {
    /* Adjustments for smaller screens */
    .banner-heading {
      font-size: 24px;
    }
    main{
        display: flex;
        flex-direction: column;
        font-size:16px;
      }
      .right-Main-Banner{
        display: flex;
        background:url("assets/Burger.png");
        width: 500px;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        flex-direction: column;
        align-items: center;
    }
    .banner-heading{
        font-size:2em;
    }
    .main-description{
        font-size:18px;
    }.total-items{
        font-size: 18px;
    }
    .input-container{
        display: flex;
        justify-content: space-evenly;
        font-size:17px;
    }
    #searchBtn{
        margin-right:16%;
    }
    input[type="text"]{
        width:60%;
  }
  .menu-bar{
    display: none;
  }
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:.8em;
  }
  /*--------Featured Dish------*/
  .featured-heading{
    font-size:36px;
  }
  .featured>.lower-featured{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .featured-img{
    width: 250px;
    height: 250px;
  }
  
  .featured-description>h1{
    font-size:27px;
  }
  #ingredients{
    width:100%;
  }
  .instructions{
    display: none;
  }
  .reference{
    display: none;
  }

  .all-items {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two items per row */
    background-color: black; /* Black background for visibility */
  }

  .item {
    max-width: calc(90% - 4%); /* Two items per row, considering margins */
    margin: 2%; /* Adjust margins */
    height: auto; /* Adjust height as per content */
    background-color: var(--primaryColor); /* Revert background color */
  }
  .item-img{
    width:215px;
    height:215px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
  /* For screens between 768px and 1024px (e.g., tablets) */
  @media (min-width: 768px) and (max-width: 1024px) {
    /* Adjustments for medium-sized screens */
    .right-Main-Banner{
        display: flex;
    background:url("assets/Burger.png");
    width: 600px;
    height: 620px;
    background-position: center;
    flex-direction: column;
    background-size: contain;
    align-items: center;
    background-repeat: no-repeat;
    }
    .featured-img {
        background: url("assets/featured.png");
        width:250px;
        height: 250px;
        background-repeat: no-repeat;
        background-size: contain;}
        .reference{
            display: none;
        }
        .item-img{
            width:180px;
            height:180px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }
          input[type="text"]{
            width:58%;
      }
    /* ... Other adjustments */
  }
  
  /* For screens larger than 1024px (e.g., desktops) */
  @media (min-width: 1024px) {
    /* Default styles (already defined in your CSS) */
  }
  